<section>
    <h1>Sua hoc sinh</h1>

    <form action="#">
        <table class="NoneBorder">
            <tr class="NoneBorder">
                <td class="NoneBorder">Ho ten:</td>
                <td class="NoneBorder">
                    <input class="Input" type="text" ng-model="student.name" required>
                </td>
            </tr>
            <tr class="NoneBorder">
                <td class="NoneBorder">Ngay sinh:</td>
                <td class="NoneBorder">
                    <input class="Input" type="date" ng-model="student.tuoi" required>
                </td>
            </tr>
        </table>

        <button ng-click="saveEditStudent()">Luu</button>

    </form>
    
</section>
